#page7 {
    background-color: #301934;
    color: #E3BC9A;
}

#page7 .spotify {
    font-size: 1.7em;
    font-weight: 600;
    width: 90%;
    margin: 60% auto;
    text-align: center;
    animation: fadeInTextLogo 0.5s linear 0.5s backwards, fadeOutTextLogo 0.5s linear 6s forwards;
}

#page7 .spotifyLogo {
    position: absolute;
    display: block;
    width: 200px;
    top: 30%;
    left: 80px;
    animation: fadeInTextLogo 0.5s linear 6.5s backwards, fadeOutTextLogo 0.5s linear 17.5s forwards;
}

@keyframes fadeInTextLogo {
    0% {
        opacity: 0;
    }
}

@keyframes fadeOutTextLogo {
    100% {
        opacity: 0;
    }
}

#page7 .IGEday, #page7 .funding, #page7 .user {
    position: absolute;
    font-size: 1.1em;
    width: 80%;
    top: 65%;
    left: 35px;
    line-height: 1.5em;
    text-align: center;
}

#page7 .IGEday {
    animation: slideInInfo 0.5s linear 7.5s backwards, fadeOutTextLogo 0.5s linear 11s forwards;
}

#page7 .funding {
    animation: slideInInfo 0.5s linear 11.5s backwards, fadeOutTextLogo 0.5s linear 15s forwards;
}

#page7 .user {
    animation: slideInInfo 0.5s linear 15.5s backwards, fadeOutTextLogo 0.5s linear 17.5s forwards;
}

@keyframes slideInInfo {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
}