#page6 {
    background-color: #301934;
    color: #E3BC9A;
}

#page6 .spotify {
    font-size: 1.7em;
    font-weight: 600;
    width: 90%;
    margin: 60% auto;
    text-align: center;
    animation: fadeInTextLogo 0.5s linear 0.5s backwards, fadeOutTextLogo 0.5s linear 6s forwards;
}

#page6 .shadow {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    top: 30%;
    left: 80px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: fadeInTextLogo 0.5s linear 6.5s backwards, fadeOutTextLogo 0.5s linear 23.5s forwards;
}

#page6 .spotifyLogo {
    position: absolute;
    display: block;
    width: 200px;
    top: 30%;
    left: 80px;
    animation: fadeInTextLogo 0.5s linear 6.5s backwards, fadeOutTextLogo 0.5s linear 23.5s forwards;
}

@keyframes fadeInTextLogo {
    0% {
        opacity: 0;
    }
}

@keyframes fadeOutTextLogo {
    100% {
        opacity: 0;
    }
}

#page6 .IGEday, #page6 .funding, #page6 .user {
    position: absolute;
    font-size: 1.1em;
    width: 80%;
    top: 65%;
    left: 35px;
    line-height: 1.5em;
    text-align: center;
}

#page6 .IGEday {
    animation: slideInInfo 0.5s linear 7.5s backwards, fadeOutTextLogo 0.5s linear 13s forwards;
}

#page6 .funding {
    animation: slideInInfo 0.5s linear 13.5s backwards, fadeOutTextLogo 0.5s linear 19s forwards;
}

#page6 .user {
    animation: slideInInfo 0.5s linear 19.5s backwards, fadeOutTextLogo 0.5s linear 23.5s forwards;
}

@keyframes slideInInfo {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
}