/* HEX CODES

Neon pink: #FE019A
Light green: #81E4AE
Teal: #008081
Lime yellow: #C7EA46
Deep purple: #301934

*/

body {
    margin: 0;
    background-color: black;
    font-family: 'Inter', sans-serif;
}

.screen {
    position: relative;
    width: 360px;
    height: 680px;
    margin: 0 auto;
    overflow: hidden;
}

#page1 {
    background-color: #FE019A;
}

#page2 {
    background-color: #C7EA46;
}

h1 {
    text-align: center;
    margin-top: 265px;
    margin-bottom: 70px;
    font-weight: 600;
    font-size: 40px;
}

#page1 {
    color: #81E4AE;
}

#page2 {
    color: #301934;
}

p {
    position: absolute;
    font-weight: 400;
    width: 150px;
    left: 105px;
    text-align: center;
}

.creator {
    bottom: 50px;
}

.hashtag {
    bottom: 15px;
}

.circle {
    position: absolute;  
    border-radius: 100%;
}

#page1 .circle {
    background-color: #301934;
}

#page2 .circle {
    background-color: #008081;
}

#circle1 {
    width: 250px;
    height: 250px;
    bottom: -40px;
    left: -50px;
}