/* HEX CODES

Neon pink: #FE019A
Light green: #81E4AE
Teal: #006161;
Lime yellow: #C7EA46
Deep purple: #301934
Dark blue: #012231;

*/

body {
    margin: 0;
    background-color: black;
    font-family: 'Inter', sans-serif;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none; 
              user-select: none;
}

.screen {
    position: relative;
    width: 360px;
    height: 680px;
    margin: 20px auto;
    overflow: hidden;
}

#page1 {
    background-color: #FE019A;
    color: #81E4AE;
}

#page2 {
    background-color: #C7EA46;
    color: #301934;
}

#page3 {
    background-color: #301934;
    color: #C7EA46;
}

#page4 {
    background-color: #006161;
    color: #FE019A;
}

#page5 {
    background-color: #81E4AE;
    color: #301934;
}

#page6 {
    background-color: #301934;
    color: #81E4AE;
}

#page7 {
    background-color: #012231;
    color: #C7EA46;
}

#page8 {
    background-color: #C7EA46;
    color: #FE019A;
}

h1 {
    text-align: center;
    margin-top: 265px;
    margin-bottom: 70px;
    font-weight: 600;
    font-size: 40px;
}

p {
    position: absolute;
    font-weight: 400;
    width: 150px;
    left: 105px;
    text-align: center;
}

.creator {
    bottom: 50px;
}

.hashtag {
    bottom: 15px;
}

.circle {
    position: absolute;  
    border-radius: 100%;
}

#page1 .circle {
    background-color: #301934;
}

#page2 .circle {
    background-color: #006161;
}

#page3 .circle {
    background-color: #006161;
}

#page4 .circle {
    background-color: #C7EA46;
}

#page5 .circle {
    background-color: #FE019A;
}

#page6 .circle {
    background-color: #FE019A;
}

#page7 .circle {
    background-color: #006161;
}

#page8 .circle {
    background-color: #012231;
}

.circle1 {
    width: 250px;
    height: 250px;
    bottom: -40px;
    left: -50px;
}